$pColor: red;
$sColor: green;
$bPadding: 2px;
$bMargin: 2px;

$primaryColor: var(--primary-color);
$secondaryColor: var(--secondary-color);
$basePadding: var(--base-padding);
$baseMargin: var(--base-margin);